*{
    margin : 0;
    padding:  0;
    box-sizing: border-box;
    font-family: "Marcellus", serif;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
    background-image: url("asests/background.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 6rem;
}
nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li{
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
}
.menu{
    display: none;
}
.container{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.image-container{
    height: 80vh;
    width: 67vw;
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 1px 1px 8px 1px #d2d0d024;
    border-radius: 4px;
    opacity: 1;
}
.hero-text{
    position: absolute;    
    top: 50%; 
    left: 7.5%;
    transform: translateY(-50%);
}

.hero-text h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.4rem;
    letter-spacing: 0.2rem;
}
.hero-text button{
    padding: 2.5vh 12vh;
    border: 1px solid #fff;
    font-size: 1rem;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 2rem;
    border-radius: 3px;
    color: #ebe6e6;
    text-shadow: 1px 1px 1px 3px #fff;
}

@media (max-width: 768px) {
    .main{
        padding: 0 0.4rem;
    }
    nav ul{
        display: none;
    }
    nav ul.active {
        display: flex;
    }
    .menu{
        display: block;
        font-size: 1.2rem;
    }
    .container{
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    .image-container{
        height: 60%;
        width: 100%;
        position: relative;
       
    }
    .image-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: 1px 1px 8px 1px #d2d0d024;
        border-radius: 4px;
        opacity: 1;
    }
    .hero-text{
        position: relative;    
        top: 0; 
        left: 0;
        transform: translateY(0);
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .hero-text h1{
        font-size: 2rem;
        font-weight: 800;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
    }
    .hero-text button{
        padding: 2.5vw 12vw;
        border: 1px solid #fff;
        font-size: 1rem;
        font-weight: 900;
        background-color: transparent;
        text-transform: uppercase;
        margin-top: 1rem;
        border-radius: 3px;
        color: #fff;
        text-shadow: 1px 1px 1px 3px #fff;
    }
    nav ul {
        opacity: 0;
        transform: translateY(-10px); /* Slide effect */
        max-height: 0; /* Smooth open/close effect */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #202d2398;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        z-index: 999;
        margin-top: 2px;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, max-height 0.3s ease-in-out;
    }
    
    /* When active, show menu with animation */
    nav ul.active {
        opacity: 1;
        transform: translateY(0);
        max-height: 300px; /* Adjust this value according to content */
    }
    

    .nav-links li {
        padding: 1px 0;
    }
} 